<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="$lang$" xml:lang="$lang$"$if(dir)$ dir="$dir$"$endif$ style="overflow:auto;">
<head>
  <meta charset="utf-8" />
  <meta name="generator" content="pandoc" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
$for(author-meta)$
  <meta name="author" content="$author-meta$" />
$endfor$
$if(date-meta)$
  <meta name="dcterms.date" content="$date-meta$" />
$endif$
$if(keywords)$
  <meta name="keywords" content="$for(keywords)$$keywords$$sep$, $endfor$" />
$endif$
$if(description-meta)$
  <meta name="description" content="$description-meta$" />
$endif$
  <title>$if(title-prefix)$$title-prefix$ – $endif$$pagetitle$</title>
  <style>
  </style>
  <link rel="stylesheet" href="bulma.css" />
$for(header-includes)$
  $header-includes$
$endfor$
$if(math)$
  $math$
$endif$
</head>
<body style="height:100vh;">
$for(include-before)$
$include-before$
$endfor$
<div class="fixed-grid has-4-cols">
<div class="grid">
     <div id="SIDEBAR" class="cell" style="height:100vh;overflow:auto;">
     <nav id="$idprefix$TOC" role="doc-toc" class="menu">
$if(toc-title)$
     <h2 id="$idprefix$toc-title">$toc-title$</h2>
$endif$
$table-of-contents$
     </nav>
     </div>
     <main class="cell is-col-span-3" style="height:100vh;overflow:auto;">
<nav id="sitenav">
<div class="sitenav">
<span class="navlink">
$if(up.url)$
<span class="navlink-label">Up:</span> <a href="$up.url$" accesskey="u" rel="up">$up.title$</a>
$endif$
</span>
<span class="navlink">
$if(top)$
<span class="navlink-label">Top:</span> <a href="$top.url$" accesskey="t" rel="top">$top.title$</a>
$endif$
</span>
</div>

<div class="sitenav columns">

<span class="navlink column">
$if(previous.url)$
<a href="$previous.url$" accesskey="p" rel="previous">Previous</a>
$endif$
</span>

<span class="navlink column has-text-right">
$if(next.url)$
<a href="$next.url$" accesskey="n" rel="next">Next</a>
$endif$
</span>

</div>
</nav>
$if(top)$
$-- only print title block if this is NOT the top page
$else$
$if(title)$
<header id="title-block-header">
<h1 class="title">$title$</h1>
$if(subtitle)$
<p class="subtitle">$subtitle$</p>
$endif$
$for(author)$
<p class="author">$author$</p>
$endfor$
$if(date)$
<p class="date">$date$</p>
$endif$
$if(abstract)$
<div class="abstract">
<div class="abstract-title">$abstract-title$</div>
$abstract$
</div>
$endif$
$endif$
</header>
$endif$
$body$
   </main>
   </div>
  </div>
$for(include-after)$
$include-after$
$endfor$
<script>
  const sidebar = document.getElementById("SIDEBAR");
  // 復元：ページ読み込み時
  window.addEventListener("DOMContentLoaded", () => {
    const savedScrollTop = localStorage.getItem("sidebarScroll");
    if (savedScrollTop !== null) {
      sidebar.scrollTop = parseInt(savedScrollTop, 10);
    }
    const path = window.location.pathname;
    const filename = decodeURIComponent(path.substring(path.lastIndexOf("/") + 1));
    const link = document.querySelector('a[id^="toc"][href="'+filename+'"]');
    if (link !== null) {
      link.classList.add("has-text-link","has-text-weight-bold")  
      const top = link.offsetTop;
      if (top < sidebar.scrollTop){
        sidebar.scrollTop = top;
      }
      const rect = link.getBoundingClientRect();
      const bottom = top + rect.bottom - rect.top; 
      if (bottom > sidebar.scrollTop + sidebar.clientHeight){
        sidebar.scrollTop = bottom - sidebar.clientHeight;
      }
    }
  });
  // 保存：ページ離脱時
  window.addEventListener("beforeunload", () => {
    localStorage.setItem("sidebarScroll", sidebar.scrollTop);
  });
</script>

</body>
</html>
