<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="$lang$" xml:lang="$lang$"$if(dir)$ dir="$dir$"$endif$ style="overflow:auto;" >
<head>
  <meta charset="utf-8" />
  <meta name="generator" content="pandoc" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
$for(author-meta)$
  <meta name="author" content="$author-meta$" />
$endfor$
$if(date-meta)$
  <meta name="dcterms.date" content="$date-meta$" />
$endif$
$if(keywords)$
  <meta name="keywords" content="$for(keywords)$$keywords$$sep$, $endfor$" />
$endif$
$if(description-meta)$
  <meta name="description" content="$description-meta$" />
$endif$
  <title>$if(title-prefix)$$title-prefix$ – $endif$$pagetitle$</title>
  <style>
  </style>
  <link rel="stylesheet" href="./fontawesome/css/fontawesome.css">
  <link rel="stylesheet" href="./fontawesome/css/solid.css">
  <link rel="stylesheet" href="bulma.css" />
  <link rel="stylesheet" href="./fontawesome/css/solid.css">
  <script>
  </script>
$for(header-includes)$
  $header-includes$
$endfor$
$if(math)$
  $math$
$endif$
</head>
<body class="is-overflow-hidden" style="height:100vh;">
<script>
</script>
$for(include-before)$
$include-before$
$endfor$
<div class="columns is-0 is-flex is-flex-direction-row is-flex-wrap-nowrap">
   <div id="SIDEBAR" class="column is-one-fifth is-block" style="height:100vh;overflow:auto;">
   <nav id="$idprefix$TOC" role="doc-toc" class="menu">
$if(toc-title)$
     <h2 id="$idprefix$toc-title">$toc-title$</h2>
$endif$
<ul class="menu-list" >
<li><a href="index.html" id="toc-top">TOP</a></li>
</ul>
$table-of-contents$
     </nav>
     </div>
     <main id="MAIN" class="column is-four-fifths pl-6 pr-6 pt-1 pb-4" style="height:100vh;overflow:auto;">
<nav class="sitenav columns is-3 is-vcentered">
  <div class="column is-1 has-text-left">
    <span id="toggle-toc" class="icon button is-large"><i class="fas fa-lg fa-bars"></i></span>
  </div>
  <div class="column is-1 has-text-left">
    <span class="navlink">
      $if(previous.url)$
        <a href="$previous.url$" accesskey="p" rel="previous" class="button icon is-large is-link">
        <i class="fas fa-lg fa-angle-left"></i></a>
      $else$
        <span class="button icon is-large is-link">
        <i class="fas fa-lg fa-angle-left"></i></span>
      $endif$
    </span>
  </div>
  <div class="column">
    $if(title)$
    <h1 class="title is-4 has-text-centered">$title$</h1>
    $endif$
  </div>
  <div class="column is-1 has-text-right">
    <span class="navlink">
      $if(next.url)$
        <a href="$next.url$" accesskey="n" rel="next" class="button icon is-large is-link">
        <i class="fas fa-lg fa-angle-right"></i></a>
      $else$
        <span class="button icon is-large is-link">
        <i class="fas fa-lg fa-angle-right"></i></span>
      $endif$
    </span>
  </div>
</nav>
<!--
<nav id="sitenav">
<div class="sitenav">
<span class="navlink">
$if(up.url)$
<span class="navlink-label">Up:</span> <a href="$up.url$" accesskey="u" rel="up">$up.title$</a>
$endif$
</span>
<span class="navlink">
$if(top)$
<span class="navlink-label">Top:</span> <a href="$top.url$" accesskey="t" rel="top">$top.title$</a>
$endif$
</span>
</div>
</nav>
-->
$if(top)$
$-- only print title block if this is NOT the top page
$else$
$if(title)$
<header id="title-block-header">
<h1 class="title">$title$</h1>
$if(subtitle)$
<p class="subtitle">$subtitle$</p>
$endif$
$for(author)$
<p class="author">$author$</p>
$endfor$
$if(date)$
<p class="date">$date$</p>
$endif$
$if(abstract)$
<div class="abstract">
<div class="abstract-title">$abstract-title$</div>
$abstract$
</div>
$endif$
$endif$
</header>
$endif$
$body$
   </main>
</div>
$for(include-after)$
$include-after$
$endfor$

<script>
  // 復元：ページ読み込み時
  window.addEventListener("DOMContentLoaded", () => {
    const sidebar = document.getElementById("SIDEBAR");
    const main = document.getElementById("MAIN");
    const savedScrollTop = localStorage.getItem("sidebarScroll");
    if (savedScrollTop !== null) {
      sidebar.scrollTop = parseInt(savedScrollTop, 10);
    }
    console.log(localStorage.getItem("sidebarIsBlock"));
    if (localStorage.getItem("sidebarIsBlock") === "true"){
        sidebar.classList.remove("is-hidden");
        sidebar.classList.add("is-block");
        main.classList.remove("is-full");
        main.classList.add("is-four-fifths");
    } else {
        sidebar.classList.remove("is-block");
        sidebar.classList.add("is-hidden");
        main.classList.remove("is-four-fifths");
        main.classList.add("is-full");
    }
    const path = window.location.pathname;
    const filename = decodeURIComponent(path.substring(path.lastIndexOf("/") + 1));
    const link = document.querySelector('a[id^="toc"][href="'+filename+'"]');
    if (link !== null) {
      link.classList.add("is-active")
      const top = link.offsetTop;
      if (top < sidebar.scrollTop){
        sidebar.scrollTop = top;
      }
      const rect = link.getBoundingClientRect();
      const bottom = top + rect.bottom - rect.top; 
      if (bottom > sidebar.scrollTop + sidebar.clientHeight){
        sidebar.scrollTop = bottom - sidebar.clientHeight;
      }
    }

    document.querySelectorAll(".menu ul").forEach((ul) => {
      ul.classList.add("menu-list");
    });

    document.querySelectorAll("main > h2").forEach((h2) => {
      h2.classList.add("title");
      h2.classList.add("is-5");
    });

    const toggletoc = document.getElementById("toggle-toc");
    toggletoc.addEventListener('click', () => {
      if (sidebar.classList.contains("is-block")) {
        sidebar.classList.remove("is-block");
        sidebar.classList.add("is-hidden");
        main.classList.remove("is-four-fifths");
        main.classList.add("is-full");
      } else {
        sidebar.classList.remove("is-hidden");
        sidebar.classList.add("is-block");
        main.classList.remove("is-full");
        main.classList.add("is-four-fifths");
      }
    });
  });
  // 保存：ページ離脱時
  window.addEventListener("beforeunload", () => {
    const sidebar = document.getElementById("SIDEBAR");
    localStorage.setItem("sidebarScroll", sidebar.scrollTop);
    localStorage.setItem("sidebarIsBlock", sidebar.classList.contains("is-block"));
  });
</script>

</body>
</html>
